ul {
    margin: 1vh 0vw;
    padding-left: 0;
    font-size: large;
}

.header-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 1%;
}

.menu-title {
    padding-left: 0;
}

.open-menu {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 100%;
    overflow: scroll;
    background-color: #5F9EA0;
}

.close-menu {
    display: none;
}

.open-menu::-webkit-scrollbar {
    width: 0.25vw;
}

.open-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.open-menu::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#9DB0B0; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
