.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
}

.search-input {
    height: 10vh;
    width: 50%;
    font-size: larger;
    border-radius: 15px;
    background-color: #F0F8FF;
    border-color: transparent;
}

.scroll-to-top-visible {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10%;
    bottom: 10%;
    border-radius: 100%;
    background-color: #F0F8FF;
    padding: 1%;
    
}

.scroll-to-top-visible:hover {
    background-color: #f0f8ff81;
}

.scroll-to-top-hidden {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    left: 10%;
    bottom: 10%;
    border-radius: 100%;
    background-color: aliceblue;
    padding: 1%;

}

@media only screen and (min-width: 320px) and (max-width:441px) {
    .search-bar {
        padding-top: 0;
    }
    
    .search-input {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        border-radius: 0;
    }

    .scroll-to-top-visible {
       left: 0%;
        
    }

}

@media only screen and (min-width: 320px) and (max-width:800px) {
    .search-bar {
        padding-top: 0vw;
    }
    
    .search-input {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        border-radius: 0;
    }

}