h3, h6 {
    max-width: 95%;;
    padding: 0vh 1vw;
    margin: 1% 0%;
    overflow: hidden;
}

video {
    margin: 0vh 1vw 3vh 1vw;
    max-height: 80%;
    max-width: 80%;
    overflow: hidden;
}

.post-container {
    margin: 2vh 5vw;
    background-color: #D3ECED;
    padding: 0vw;
    width: 40vw;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
}

.votes-container {
    display: flex;
    min-width: 10%;
    padding: 1vh 0vw;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}

.votes-text {
    padding: 0vh 0vw;
    margin: 0;
}

.upvote {
    cursor: pointer;
}

.upvoted {
    cursor: pointer;
    color: #FF4300;
}

.downvote {
    cursor: pointer;
}

.downvoted {
    cursor: pointer;
    color: #9494FF;
}

.post-title-link {
    text-decoration: underline;
    color: black;
}

.post-title-link:visited {
    color: #551A8B ;
}

.post-contents {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-text {
    margin-bottom: 1vh;
    max-width: 95%;;
    padding: 0vh 1vw;
    margin: 1% 0%;
    overflow: hidden;
}

.post-img {
    margin: 0vh 1vw 3vh 1vw;
    height: fit-content;
    max-width: 90%;
    overflow: hidden;
}

.post-comments-container {
    display: flex;
    align-items: center;
    padding: 1vh 0vw 0.5vh 1vw;
    border-top: 2px solid aliceblue;
}

.post-comments-button {
    display: flex;
    align-items: center;
    font-size: small;
    margin: 0;
}

.comments-result-hidden {
    display: none;
    position: absolute;
    margin-top: 3%;
    right: 1%;
    width: 25%;
    background-color: #D3ECED;
    border-radius: 10px;
    padding: 0vh 1vw 0vh 1vw
}

.comments-result-revealed {
    position: absolute;
    right: 1%;
    width: 25%;
    margin-top: 3%;
    background-color: #D3ECED;
    border-radius: 10px;
    padding: 0vh 1vw 0vh 1vw
}

.comments-text {
    padding: 0;
    margin: 0;
}
